<!DOCTYPE html>
 <!-- GNB(Global Navigation Bar) 부분 -->
  <nav class="navbar navbar-expand-lg navbar-light" id="navbar">

     <a class="navbar-brand" href="/step/list/1">실시간 작업 현황</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/orders/list/1">발주 확인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/status">생산량 통계</a>
          </li>
          
    </ul>
   </div>
 </nav>
