<div> <img src="/images/banner.jpg" class="img-fluid" alt="배너이미지" width="100%"> </div>

<div class="container">


        <h3>| 실시간 작업 현황</h3>
        <hr>
        <input type="date" id="date" name="date" value="<%=today %>">
        <button type="button" class="btn btn-secondary">새로 고침</button>


        <table class="table table-striped" style="margin-top: 20px;">
            <thead class="thead-dark">
              <tr>
                <th> 생산번호 </th>
                <th> 생산품 </th>
                <th> 진행단계 </th>
                <th> 진행여부 </th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td> p001 </td>
                <td> 팰리세이드 </td>
                <td> <b>엔진 주조</b> </td>
                <td> 작업 중단 ❗️ </td>
                <td><button type="button" class="btn btn-primary btn-sm">작업 시작</button></td>
              </tr>
              <tr>
                <td> a001 </td>
                <td> 아반떼 </td>
                <td> <b>엔진 주조</b></td>
                <td> 작업 대기중 </td>
                <td><button type="button" class="btn btn-warning btn-sm">작업 중단</button></td>
              </tr>
              <tr>
                <td> s001 </td>
                <td> 쏘나타 </td>
                <td> <b>차체 조립</b></td>
                <td> 작업 진행중 </td>
                <td><button type="button" class="btn btn-warning btn-sm">작업 중단</button></td>
              </tr>
              <tr>
                <td> p002 </td>
                <td> 팰리세이드 </td>
                <td> <b>엔진 기계가공</b></td>
                <td> 작업 진행중 </td>
                <td><button type="button" class="btn btn-warning btn-sm">작업 중단</button></td>
              </tr>
              <tr>
                <td> p002 </td>
                <td> 팰리세이드 </td>
                <td> <b>엔진 기계가공</b></td>
                <td> 작업 중단 ❗️ </td>
                <td><button type="button" class="btn btn-primary btn-sm">작업 시작</button></td>
              </tr>
              <tr>
                <td> p002 </td>
                <td> 팰리세이드 </td>
                <td> <b>엔진 기계가공</b></td>
                <td> 작업 진행중 </td>
                <td><button type="button" class="btn btn-warning btn-sm">작업 중단</button></td>
              </tr>
              <tr>
                <td> p002 </td>
                <td> 팰리세이드 </td>
                <td> <b>엔진 기계가공</b></td>
                <td> 작업 진행중 </td>
                <td><button type="button" class="btn btn-warning btn-sm">작업 중단</button></td>
              </tr>
              <tr>
                <td> p002 </td>
                <td> 팰리세이드 </td>
                <td> <b>엔진 기계가공</b></td>
                <td> 작업 진행중 </td>
                <td><button type="button" class="btn btn-warning btn-sm">작업 중단</button></td>
              </tr>
              </tbody>
        

            </table>
            <hr>

            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page" id="page-active">
                    <span class="page-link">
                      2
                      <span class="sr-only">(current)</span>
                    </span>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>

</div>